a.popCategory
	.popCategory__bg
		+picture({
			path: `${baseDir}assets/images/popCategory`,
			ext: 'png',
		})
	.popCategory__info
		.popCategory__title Запчасти ведущего моста
		.popCategory__button
			span В каталог
			+svg('right-arrow')
