extends @pug/base

append globals
	- pageName = 'home'

append vars

block content
	.site
		include @components/header/header
		main.ui
			section.ui__slider
				+main-slider()
			section.ui__product
				.container
					h1 Карточка
					.row
						+product({heat: true, status: 'green'})
						+product({status: 'green'})
						+product({status: 'orange'})
						+product({status: 'red'})
						+product({cache: true})
			section.ui__pop-category
				.container
					.title
						h1 Популярные категории
					.row
						include @components/popCategory/popCategory
						include @components/popCategory/popCategory
						include @components/popCategory/popCategory
						include @components/popCategory/popCategory
						include @components/popCategory/popCategory
			section.ui__category
				.container
					.title
						h1 Категории
					.row
						each item in data.category
							+category(item)
		include @components/footer/footer
