extends @pug/base

append globals
	- pageName = 'home'

append vars

block content
	.site
		include @components/header/header
		main.ui
			section.ui__product
				h1 Карточка
				.container
					.row
						+product({heat: true, status: 'green'})
						+product({status: 'green'})
						+product({status: 'orange'})
						+product({status: 'red'})
						+product({cache: true})
		include @components/footer/footer
