.ui {
	section {
		margin-bottom: vc(50);
	}

	&__product,
	&__pop-category {
		.row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			gap: vc(14);

			@include devices {
				grid-template-columns: 1fr;
			}
		}
	}

	&__category,
	&__article {
		.row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: vc(80);

			@include devices {
				grid-template-columns: 1fr;
			}
		}
	}

	&__advantage {
		.row {
			display: grid;
			grid-template-columns: 1.2fr 0.8fr;
			gap: vc(26);

			@include devices {
				grid-template-columns: 1fr;
			}
		}
	}

	&__catalog {
		.row {
			display: grid;
			grid-template-columns: 0.4fr 1.6fr;
			gap: vc(14);

			@include devices {
				grid-template-columns: 1fr;
			}
		}
	}
}
