.ui {
	section {
		margin-bottom: vc(50);
	}

	&__product,
	&__pop-category {
		.row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			gap: vc(14);
		}
	}

	&__category {
		.row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: vc(80);
		}
	}
}
