.advantage.advantage--1
	.advantage__bg
		+picture({
			path: `${baseDir}assets/images/advantage1`,
			ext: 'jpg',
		})
	.advantage__img
		+picture({
			path: `${baseDir}assets/images/advantage11`,
			ext: 'png',
		})
	.advantage__info
		p.advantage__title Регистрируйтесь в дилерской системе LOADERPRO и получите доступ к новым возможностям!
		p.advantage__description Размещение заказов, прогрессивная система скидок, свой гараж, база каталогов!
		.advantage__button
			a.button.button__primary(href="#") Зарегистрироваться

.advantage.advantage--2
	.advantage__bg
		+picture({
			path: `${baseDir}assets/images/advantage2`,
			ext: 'jpg',
		})
	.advantage__img
		+picture({
			path: `${baseDir}assets/images/advantage22`,
			ext: 'png',
		})
	.advantage__info
		p.advantage__title Осуществляем подбор запчастей по каталогам с гарантией!
		p.advantage__description Наши специалисты подберут запчасти по данным вашей техники. Вы получите вырезку из каталога для согласования позиций.
		.advantage__button
			a.button.button__black(href="#") Отправить запрос
