extends @pug/base

append globals
	- pageName = 'home'

append vars

block content
	.site
		include @components/header/header
		main
			section.article__section
				.container
					.title
						h1 Полезная информация
					.row
						+article({
							title: 'Как выбрать тележку для склада?',
							text: 'Если вам необходимо выбрать гидравлическую тележку для склада - ознакомьтесь с рекоме...'
						})
						+article({
							title: 'Правила хранения запчастей',
							text: 'Хранение и обслуживание запчастей играет критическую роль в обеспечении эффективной...'
						})
						+article({
							title: '5 ошибок при ремонте погрузчика',
							text: 'Мы собрали 5 самых распространенных ошибок, которые допускают во время ремонта вилочных...'
						})
						+article({
							title: '10 фактов о погрузчиках',
							text: 'Интересные факты о вилочных погрузчиках которые вы могли не знать...'
						})
						+article({
							title: 'Как выбрать тележку для склада?',
							text: 'Если вам необходимо выбрать гидравлическую тележку для склада - ознакомьтесь с рекоме...'
						})
						+article({
							title: 'Правила хранения запчастей',
							text: 'Хранение и обслуживание запчастей играет критическую роль в обеспечении эффективной...'
						})
						+article({
							title: '5 ошибок при ремонте погрузчика',
							text: 'Мы собрали 5 самых распространенных ошибок, которые допускают во время ремонта вилочных...'
						})
						+article({
							title: '10 фактов о погрузчиках',
							text: 'Интересные факты о вилочных погрузчиках которые вы могли не знать...'
						})
						+article({
							title: 'Как выбрать тележку для склада?',
							text: 'Если вам необходимо выбрать гидравлическую тележку для склада - ознакомьтесь с рекоме...'
						})
						+article({
							title: 'Правила хранения запчастей',
							text: 'Хранение и обслуживание запчастей играет критическую роль в обеспечении эффективной...'
						})
						+article({
							title: '5 ошибок при ремонте погрузчика',
							text: 'Мы собрали 5 самых распространенных ошибок, которые допускают во время ремонта вилочных...'
						})
						+article({
							title: '10 фактов о погрузчиках',
							text: 'Интересные факты о вилочных погрузчиках которые вы могли не знать...'
						})
					.article__more
						button.button.button__outline Загрузить ещё

		include @components/footer/footer
