mixin article(data = {})
	.article
		.article__img
			+picture({
				path: `${baseDir}assets/images/news`,
				ext: 'png',
			})
		.article__title
			p!= data.title
		.article__date
			p 15.02.2022
		.article__description
			p!= data.text
		.article__link
			p Подробнее
