.article
	.article__img
		+picture({
			path: `${baseDir}assets/images/news`,
			ext: 'png',
		})
	.article__title
		p Название статьи
	.article__date
		p 15.02.2022
	.article__description
		p В последнее время на рынке, большое распространение получили электрокамины...
	.article__link
		p Подробнее
