a.category
	.category__bg
		+picture({
			path: `${baseDir}assets/images/category`,
			ext: 'png',
		})
	.category__info
		.category__title Запчасти ведущего моста
		.category__button
			span В каталог
			+svg('right-arrow')
