extends @pug/base

append globals
	- pageName = 'home'

append vars

block content
	.site
		include @components/header/header
		main
			section.account
				.container
					.row
						.account__panel
							+picture({
								path: `${baseDir}assets/images/basket`,
								ext: 'jpg',
							})
							p Имя Фамилия
							nav
								a(href="#") Личная информация
								a.is-active(href="#") История заказов
								a(href="#") Избранное
								button Выйти
						.account__tab
							.account__title
								h1 Личный кабинет
								small История заказов
							.account__history
								.account__history-select
									+select({
										placeholder: 'Статус',
										name: 'status',
										items: [
											{
												value: '0',
												selected: true,
												label: 'Все заказы'
											},
											{
												value: '1',
												label: 'Статус 2'
											},
											{
												value: '2',
												label: 'Статус 3'
											},
										],
									})
								+order()
								+order({active: true})
		include @components/footer/footer
