extends @pug/base

append globals
	- pageName = 'index'

append vars

block content
	.site
		include @components/header/header
		main
			section
				.container
					.row
						h1 Список страниц
						ol
							-
								var pages = [
									{
										title: 'ui',
										href: 'ui',
									}, {
										title: '404',
										href: '404',
									}, {
										title: 'Главная',
										href: 'home',
									}
								]
							each item in pages
								li
									a(href=item.href)!= item.title
		include @components/footer/footer
