extends @pug/base

append globals
	- pageName = 'news'

append vars

block content
	.site
		include @components/header/header
		main
			section.news
				.container
					.row
						h1 Название новости
						time(datetime="2023-11-21T12:34:23+03:00") 21.11.2023
						+picture({
							path: `${baseDir}assets/images/image22`,
							ext: 'png',
						})
						nav
							h2 Содержание статьи
							ol
								li
									a(href="#") Содержимое статьи, пример текста
								li
									a(href="#") Содержимое статьи, пример текста
								li
									a(href="#") Содержимое статьи, пример текста
								li
									a(href="#") Содержимое статьи, пример текста
						p On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
						h2 H2 Заголовок
						p On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
						+picture({
							path: `${baseDir}assets/images/image22`,
							ext: 'png',
						})
						blockquote
							p On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belong
						ul
							li Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
							li Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
							li Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
							li Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
			section.article__section
				.container
					.title
						p.h1 Читайте так же
					.row
						+article({
							title: 'Как выбрать тележку для склада?',
							text: 'Если вам необходимо выбрать гидравлическую тележку для склада - ознакомьтесь с рекоме...'
						})
						+article({
							title: 'Правила хранения запчастей',
							text: 'Хранение и обслуживание запчастей играет критическую роль в обеспечении эффективной...'
						})
						+article({
							title: '5 ошибок при ремонте погрузчика',
							text: 'Мы собрали 5 самых распространенных ошибок, которые допускают во время ремонта вилочных...'
						})
						+article({
							title: '10 фактов о погрузчиках',
							text: 'Интересные факты о вилочных погрузчиках которые вы могли не знать...'
						})
		include @components/footer/footer
