- var dataHeader = require('data.js').default;
header.header
	.header__top
		.container
			.row
				.header__top-links
					a(href="#") Дилерам
					a(href="#") Поставщикам
				.header__top-contacts
					a(href="mailto:zakaz@loaderpro.ru")
						.svg
							+svg('mail')
						| zakaz@loaderpro.ru
					a(href="tel:+78005511996")
						.svg
							+svg('phone')
						| 8 (800) 551-19-96
	.header__main
		.container
			.row
				.header__logo
					+svg('logo')
				form.header__search
					label
						input(type="text" name="search" placeholder="Поиск товара")
						button(type="submit")
							+svg('magnifying-glass')
				.header__action
					a(href="#")
						+svg('user')
						span Войти
					a(href="#")
						+svg('heart')
						span Избранное
					a(href="#")
						+svg('cart-shopping')
						span Корзина
				.header__burger
					span
					span
					span
	.header__nav
		.container
			.row
				a.header__parts
					+svg('bars')
					| Запчасти
				nav
					each item in dataHeader
						a(href=item.href)!= item.title
