footer.footer
	.container
		.footer__top
			.footer__logo
				+svg('logo')
			.footer__city
				+svg('pin')
				p Российская Федерация
			.footer__phone
				+svg('phone')
				p #[a(href="tel:8 (800) 551-19-96") 8 (800) 551-19-96] | #[a(href="tel:+7 (812) 642-12-56") +7 (812) 642-12-56]
			.footer__mail
				+svg('mail')
				p #[a(href="mailto:zakaz@loaderpro.ru") zakaz@loaderpro.ru]
			.footer__socials
				a.footer__social(href="#")
					+svg('vk')
				a.footer__social(href="#")
					+svg('tg')
				a.footer__social(href="#")
					+svg('wt')
				a.footer__social(href="#")
					+svg('youtube')
		.footer__main
			.footer__links.footer__links--navigation
				p.footer__links-head Навигация
				.footer__links-row.footer__links-row--2
					each link in ['Главная', 'О компании', 'Клиентам', 'Способы оплаты', 'Частые вопросы', 'Отзывы', 'Новости и статьи', 'Контакты']
						a.footer__link(href="#")!= link
				.footer__ya
					+picture({
						path: `${baseDir}assets/images/ya`,
						ext: 'png',
					})
			.footer__links.footer__links--catalog
				p.footer__links-head Каталог
				.footer__links-row
					each link in ['Запчасти JUNGHEINRICH', 'Запчасти CLARK', 'Запчасти OM PIMESPO', 'Запчасти STILL', 'Запчасти MERLO', 'Запчасти  NOBLELIFT', 'Запчасти LINDE', 'Запчасти HYSTER', 'Запчасти BOBCAT', 'Запчасти COMBILIFT', 'Запчасти CROWN', 'Запчасти TERBERG', 'Запчасти KALMAR', 'Запчасти BT', 'Запчасти YALE', 'Весь каталог']
						a.footer__link(href="#")!= link
		.footer__bottom
			p Все права защищены. 2024
