footer.footer
	.container
		.footer__top
			.footer__logo
				+svg('logo')
			.footer__city
				+svg('pin')
				p Санкт-Петербург
			.footer__phone
				+svg('phone')
				p #[a(href="#") +7(982)570-40-44] | #[a(href="#") +7(982)570-40-44]
			.footer__mail
