mixin main-slider()
	.slider.slider--main
		.swiper
			.swiper-wrapper
				each item in ['6', '2', '3', '4', '5', '1']
					.swiper-slide
						.slider__content
							+picture({
								path: `${baseDir}assets/images/slider/${item}`,
								ext: 'jpeg',
							}).for-desktop
							+picture({
								path: `${baseDir}assets/images/slider/${item}m`,
								ext: 'jpeg',
							}).for-devices
