mixin main-slider()
	.slider.slider--main
		.swiper
			.swiper-wrapper
				.swiper-slide
					.slider__content
						p 1
				.swiper-slide
					.slider__content
						p 1
				.swiper-slide
					.slider__content
						p 1
				.swiper-slide
					.slider__content
						p 1
				.swiper-slide
					.slider__content
						p 1
				.swiper-slide
					.slider__content
						p 1
